<%= form_for :password_reset, html: { id: 'new-password-reset-form', }, url: password_resets_path do |user| %>
  <div class='form-section'>
    <div class='form-item'>
      <%= user.label :email, class: 'label' %>
      <%= user.email_field :email, class: 'input text-input', maxlength: 255 %>
    </div>
  </div>

  <%= user.submit 'Submit', class: 'button' %>
<% end %>
