<% if count > 0 %>
  <div class="alert alert-error">
    There <% if count == 1 %>is<% else %>are<% end %> <%= pluralize(count, "error") %> on this page that need<% if count == 1 %>s<% end %> amending before submission can be successful.
  </div>
<% end %>