<% if @productions.any? %>
  <% @productions.each do |production| %>
    <h2><%= link_to production.title, production_path(production) %></h2>
  <% end %>
<% else %>
  <h1 class='header-text'>No productions yet</h1>
<% end %>