<% provide(:title, "#{@production.title}") %>

<p class='title-text'><%= @production.title %></p>

<%= @dates %>

<% if logged_in? %>
  <%= button_to 'Edit Production', edit_production_path(@production), method: :get, class: 'button' %>
  <%= button_to 'Delete Production', @production, method: :delete, class: 'button', data: { confirm: 'Really delete this production?' } %>
<% end %>
