/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

$html-bg-color: #F0F0F0;
$header-color: #1975A3;
$header-hover: #3083AC;
$theme-color: #006699;
$default-text-color: #404040;
$form-bg-color: #F8F8F8;
$button-bg-color: #E8E8E8;
$border-color: #949494;
$box-shadow-color: #D0D0D0;
$error-color: #FF3232;
$success-color: #629632;
$gold-color: gold;
$silver-color: #949494;
$bronze-color: #CD7F32;

* {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  color: $default-text-color;
  text-decoration: none;
}

html {
  text-align: center;
  background-color: $html-bg-color;
}

a {
  color: $theme-color;
  &:hover {
    color: $default-text-color;
  }
}

.container {
  margin: auto;
  width: 1000px;
  background-color: white;
  border: solid $border-color;
  border-width: 0 2px 2px;
  border-radius: 0 0 5px 5px;
  box-shadow:  6px 3px 100px $border-color, -6px 3px 100px $box-shadow-color;
  text-align: left;
}

.header {
  height: 75px;
  background-color: black;
  padding-left: 10px;
  font-size: 400%;
  font-weight: bold;
}

.root-link {
  color: $header-color;
  &:hover {
    color: $header-hover;
  }
}

.navigation {
  padding: 4px 35px 0;
}

.nav-list-item {
  display: inline;
  margin: 5em;
}

.main-content {
  padding: 20px 50px;
  width: 900px;
  font-size: small;
}

.title-text {
  margin: 0 6px;
  padding-bottom: 0px;
  font-size: xx-large;
  color: $theme-color;
}

.description-text {
  font-weight: bold;
}

.emphasis-text {
  font-style: italic;
}

.note-text {
  margin: 0 6px;
  padding-top: 5px;
  font-size: small;
}

.content-label {
  display: inline-block;
  padding: 0 5px;
  border-radius: 2px;
  background-color: $box-shadow-color;
  font-weight: bold;
  margin: 30px 0 5px 0;
  border: 1px solid $border-color;
  &.content-header {
    margin: 5px 0 20px 0;
    border-width: 2px;
  }
}

.content-container {
  display: table;
  margin-top: 20px;
  padding: 10px;
  background-color: $form-bg-color;
  border: 2px solid $border-color;
  border-radius: 5px;
}

.table {
  td:not(:last-child) {
    padding: 5px 20px 5px 0;
  }

  &.listing {
    margin-top: 20px;
    border-collapse: separate;
    width: 100%;

    & tr {
      background-color: #D0D0D0;
      padding-left: 5px;

      &:last-child td {
        border-bottom: 2px solid $border-color;
      }

      &:nth-child(odd) {
        background-color:#F8F8F8;
      }

      &:nth-child(even) {
        background-color:#E8E8E8;
      }

      & th {
        background-color: #D0D0D0;
        padding: 5px 20px 5px 5px;
        border-top: 2px solid $border-color;

        &:first-child {
          border-left: 2px solid $border-color;
          border-top-left-radius: 5px;
        }

        &:last-child {
          border-right: 2px solid $border-color;
          border-top-right-radius: 5px;
          padding-right: 5px;
        }
      }

      & td {
        padding-left: 5px;
        border-top: 1px solid $border-color;

        &:first-child {
          border-left: 2px solid $border-color;
        }

        &:last-child {
          padding-right: 5px;
          border-right: 2px solid $border-color;
        }
      }

      &:last-child td {
        &:first-child {
          border-bottom-left-radius: 5px;
        }

        &:last-child {
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
}

.dates-table {
  margin-left: 6px;
}

.gold {
  color: $gold-color;
}

.silver {
  color: $silver-color;
}

.bronze {
  color: $bronze-color;
}

.suspended {
  color: $error-color;
}

.not-suspended {
  color: $success-color;
}

.footer {
  margin-top: 40px;
  height: 20px;
  background-color: black;
  border-radius: 0 0 3px 3px;
  font-weight: bold;
}

.footer-text-left {
  margin-top: 3px;
  padding-left: 10px;
  float: left;
  font-size: x-small;
  color: $header-color;
}

.footer-text-right {
  margin-top: 3px;
  padding-right: 10px;
  float: right;
  font-size: x-small;
  color: $header-color;
}

.button_to {
  display: inline;
}

.button {
  margin-top: 60px;
  height: 22px;
  width: 170px;
  background-color: $button-bg-color;
  &:focus {
    outline:0;
  }
}

.form {
  margin-top: 20px;
  padding: 5px 10px 20px;
  background-color: $form-bg-color;
  border: 2px solid $border-color;
  border-radius: 5px;
  .button {
    margin-top: 40px;
  }
}

.form-item {
  margin-top: 10px;
}

.label {
  display: table-cell;
  padding-left: 6px;
  font-weight: bold;
}

.mandatory:after {
  content: ' *'
}

.input {
  display: block;
}

.text-input {
  width: 872px;
}

.date-input {
  width: 125px;
}

.checkbox div.field_with_errors {
  display: inline;
}

.field_with_errors {
  color: $error-color;
  list-style-position: inside;
  .input {
    border-color: $error-color;
  }
}

.head-alert {
  margin: 0 6px;
  height: 15px;
}

.alert-success {
  color: $success-color;
}

.alert-error {
  color: $error-color;
}

.pagination {
  margin-top: 20px;

  & .current {
    font-style: normal;
  }
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black no-repeat scroll center;
}

.modal {
  position: fixed;
  padding: 20px;
  background-color: white;
  border: 2px solid $border-color;
  border-radius: 5px;
  .button {
    margin: 60px 2px 0;
  }
}
