<main class='main-content'>

  <div class='head-alert'>
    <% flash.each do |msg_type, msg| %>
      <%= content_tag(:p, msg, class: "alert-#{msg_type}") %>
    <% end %>
  </div>

  <%= yield %>
</main>
